.svg-img {
  width: 46vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message {
  background: linear-gradient(to right, #6e3cbe 0%, #29058b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  body {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.158), grey);
  }
  .svg-img {
    width: 88vw;
    position: absolute;
    top: 44%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
  .message {
    text-align: center;
    padding-top: 2em;
    width: 86vw;
}
  }
  .space {
    /* text-align: center; */
    margin: 0 auto;
    /* padding-left: 46px; */
  }
}
/* @media screen and (max-width: 340px) {
  .message {
    /* position: absolute;
    left: 50%;
    width: 86vw;
    top: 10%;
    transform: translate(-50%, -50%); 
    margin: 0 auto;
  }
} */
